*,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* fonts */

@font-face {
    font-family: 'poppins';
    src: url(./Poppins-Regular.ttf);
}

@font-face {
    font-family: 'munday';
    src: url(./Themundayfreeversion-Regular.ttf);
}

/* fonst */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #474b4f;
}

h1 {
    font-family: 'munday';
}

p, span, h3{
    font-family: 'poppins';
}

.container {
    display: grid;
    grid-template-rows: 25% 75%;
    background-color: #f3f3f3;
    height: 77rem;
    width: 53rem;
    margin: 3rem 0 3rem 0;
    filter: drop-shadow( 0 0 1rem #ffffff);
}

.top-section {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.top-section-bar {
    display: flex;
    align-items: center;
    z-index: 999;
}

.top-section-bar img {
    border-radius: 50%;
    height: 19rem;
    width: 18rem;
    object-fit: cover;
    border: 1rem solid #f3f3f3;
}

.top-section-bar-b {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d6dde7;
    height: 65%;
    width: 100%;
}

.top-section-bar-b h1 {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    margin-right: 3.2rem;
}

.bottom-section {
    display: grid;
    grid-template-columns: 40% 60%;
}

.right-section {
    display: grid;
    grid-template-rows: 17% 45% 19% 19% ;
    background-color: #d6dde7;
    border-radius: 4rem 4rem 0 0;
}

.right-section span {
    margin-right: .8rem;
    font-size: .8rem;
}

.right-section-a {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-section-a ul {
    list-style: none;
}

.right-section-a li {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    align-content: center;
}

.right-section-a i {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}



.right-section-b {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.right-section-b p, h3 {
    font-size: .87rem;
}

.right-section-b span {
    font-size: .7rem;
    color: #5e5e5e;
}

.right-section-title {
    display: flex;
    align-items: center;
    height: 3.2rem;
    width: 90%;
    border-bottom: 1px solid #474b4f;
}

.right-section-c {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.right-section-c ul {
    margin-left: 1.5rem
}

.right-section-d {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.left-section {
    display: grid;
    grid-template-rows: 30% 20% 50%;
}

.left-section span {
    margin-top: .7rem;
    font-size: 1rem;
    color: #5e5e5e;
}

.left-section-a {
    display: flex;
    margin: 2rem 1.5rem 0 1.5rem;
    flex-direction: column;
    text-align: justify;
}

.left-section-title {
    display: flex;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    border-bottom: 1px solid #474b4f;
}

.left-section-b {
    display: flex;
    margin: 2rem 1.5rem 0 1.5rem;
    flex-direction: column;
    text-align: justify;
}

.left-section-c {
    display: flex;
    margin: 2rem 1.5rem 0 1.5rem;
    flex-direction: column;
    text-align: justify;
}

.left-section-c h3 {
    font-size: 1rem;
}

.left-section-c-contents-a {
    margin-top: 1rem;
}

.left-section-c-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: .5rem;
}

@media screen and (max-width: 880px) {

    html {
        
        font-size: 10px;
    }

    body {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    html {
        
        font-size: 8px;
    }

    body {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 380px) {

    html {
        
        font-size: 6px;
    }

    body {
        display: flex;
        align-items: center;
    }
}




